/* Шрифты начало */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

/* Шрифты конец */

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.container--fluid {
    width: 100%;
    display: flex;
}

h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 72px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

.section--header {
    background: no-repeat;
    background-size: cover;
    background-image: url(../images/header.png);
    padding-top: 87px;
    padding-bottom: 259px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.headline {
    margin-top: 184px;
    max-width: 570px;
}

.headline p {
    font-size: 30px;
    margin-top: 14px;
}

.headline p span {
    font-weight: 700;
}

.face {
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/face.png);
}

.slogan {
    color: #666;
    width: 50%;
}

.slogan h2 {
    margin: 108px 0 0 56px;
}

.slogan p {
    margin: 26px 15px 0px 56px;
    max-width: 530px;
    line-height: 1.2;
}

.grid {
    display: grid;
    grid-template-areas: "cableway man ski-boot mountain"
        "bg-text bg-text skiing bg";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;

}

.cableway {
    grid-area: cableway;
    background-size: contain;
}

.man {
    grid-area: man;
}

.ski-boot {
    grid-area: ski-boot;
}

.mountain {
    grid-area: mountain;
}

.bg-text {
    background: #3f729b;
    grid-area: bg-text;
    color: #fff;
    padding-left: 171px;
    padding-top: 100px;
}

.bg-text p {
    margin-top: 30px;
    margin-bottom: 52px;
}

a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    border-radius: 30px;
}

.bg-text a {
    color: #fff;
    border: #fff solid 2px;
    padding: 15px 26px;
}

.skiing {
    grid-area: skiing;
}

.bg {
    background: #3f729b;
    grid-area: bg;
}







/************************************************************media*************************************************************************/

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .bg-text{
        padding-left: 70px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .slogan h2 {
        margin-top: 50px;
    }

    .grid {
        grid-template-areas: "cableway cableway man man  "
                             "ski-boot ski-boot mountain mountain"
                             "bg-text bg-text skiing bg";
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .container--fluid {
        flex-direction: column;
    }

    .face {
        width: 100%;
    }

    .slogan {
        width: 100%;
    }

    .slogan p {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 44px;
    }

    .section--header {
        padding: 50px 0;
    }

    .headline {
        margin-top: 50px;
    }

    .headline p {
        font-size: 26px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .slogan h2 {
        margin: 40px 15px;
    }

    .slogan p {
        margin: 25px 15px;
    }
}




.Fusce_bibendum_luctus_massa___ut_tincidunt_lect {
    font-size: 36px;
    font-family: "Fira Sans";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 854.594px;
    top: 1066.07px;
    z-index: 26;
}