/* Шрифты начало */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

/* Шрифты конец */

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.container--fluid {
    width: 100%;
    display: flex;
}

h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 72px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
}

p {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

.section--header {
    background: no-repeat;
    background-size: cover;
    background-image: url(../images/header.png);
    padding-top: 87px;
    padding-bottom: 259px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.headline {
    margin-top: 184px;
    max-width: 570px;
}

.headline p {
    font-size: 30px;
    margin-top: 14px;
}

.headline p span {
    font-weight: 700;
}

.face {
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/face.png);
}

.slogan {
    color: #666;
    width: 50%;
}

.slogan h2 {
    margin: 108px 0 0 56px;
}

.slogan p {
    margin: 26px 15px 0px 56px;
    max-width: 530px;
    line-height: 1.2;
}

.grid {
    display: grid;
    grid-template-areas: "cableway man ski-boot mountain"
        "bg--text bg--text skiing bg";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}

.grid img {
    max-width: 100%;
}

.cableway {
    grid-area: cableway;
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.man {
    grid-area: man;
}

.ski-boot {
    grid-area: ski-boot;
}

.mountain {
    grid-area: mountain;
}

.bg--text {
    background: #3f729b;
    grid-area: bg--text;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.instagram {
    max-width: 500px;
    margin-right: 88px;
}

.bg--text p {
    margin-top: 30px;
    margin-bottom: 52px;
}

a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
}

.bg--text a {
    color: #fff;
    border: #fff solid 2px;
    padding: 15px 26px;
}

.skiing {
    grid-area: skiing;
}

.bg {
    background: #3f729b;
    grid-area: bg;
}

.bg-black {
    background-color: #282b2f;
    width: 25%;
    height: 900px;
}

.night-club {
    display: flex;
    background-image: url(../images/night-club.png);
    width: 100%;
    height: 900px;
}

.rage {
    background-color: #212227;
    width: 25%;
    height: 500px;
    position: absolute;
    left: 25%;
    display: flex;
    align-items: center;
}

.rage--content {
    margin-left: 40px;
}


.rage h2,
.rage h3 {
    color: #2ebd59;
}

.rage p {
    font-size: 14px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 60px;
    line-height: 1.5em;
}

.rage a {
    color: #3db55b;
    border: #3db55b solid 2px;
    padding: 12px 16px;
    letter-spacing: 0px;
}

.section--music {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.spotify {
    display: flex;
    justify-content: flex-end;
    background-color: #2ebd59;
    width: 50%;
}

.spotify--content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 88px;
    margin-top: 112px;
    margin-bottom: 146px;
    margin-left: 60px;
}

.spotify--content p {
    margin-top: 12px;
    margin-bottom: 34px;
}

.spotify a {
    color: #fff;
    border: #fff solid 2px;
    padding: 15px 24px;
    letter-spacing: 3.5px;
    max-width: 230px;
}

.itunes {
    background-color: #282b2f;
    width: 50%;
}

.itunes--content {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    margin-top: 113px;
    margin-left: 60px;
}

.itunes--content p {
    margin-top: 10px;
    margin-bottom: 38px;
}

.itunes--content a {
    color: #fff;
    border: #fff solid 2px;
    padding: 15px 25px;
    letter-spacing: 3.5px;
    max-width: 200px;
}

.section--footer {
    background-color: #212227;
}

.container--df {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 104px;
}

.section--footer h3 {
    color: #f9f9f9;
    margin: 0;
}

.section--footer p {
    margin: 0;
    color: #999;
    font-size: 14px;
}

.about-me {
    max-width: 288px;
}

.about-me p {
    margin-top: 30px;
    line-height: 1.5;
}

.about-me .copyright {
    margin-top: 21px;
    text-transform: uppercase;
}

.contact {
    max-width: 170px;
}

.information .information__address {
    margin-top: 27px;
}

.information .information__phone {
    margin-top: 18px;
}

.information p {
    line-height: 1.5;
}

.socials {
    margin-top: 70px;
}

.socials ul {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
}

.subscribe {
    max-width: 468px;
}

.subscribe p {
    margin-top: 24px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: space-between;
    background-color: #4d4e52;
    max-width: 480px;
}

.form input {
    color: #999;
    text-transform: uppercase;
    border: 0px;
    background-color: #4d4e52;
    padding: 22px 240px 22px 15px;
}

.button {
    background: transparent;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}


.sponsor {
    margin-top: 76px;
}

.sponsor__logo ul{
    padding: 0;
}

.sponsor__logo li{
    display: inline;
    margin-right: 15px;
}







/************************************************************media*************************************************************************/

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .bg-text {
        padding-left: 70px;
    }

    .instagram {
        margin-left: 20px;
        margin-right: 0;

    }

    .instagram p {
        font-size: 30px;
    }

    .rage--content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .slogan h2 {
        margin-top: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .instagram p {
        font-size: 23px;
    }

    .bg--text p {
        margin-top: 0px;
        margin-bottom: 31px;
    }

    .bg-black {
        width: 0;
    }

    .rage {
        left: 0;
        width: 50%;
        justify-content: center;
    }

    .rage h2 {
        font-size: 30px;
    }

    .rage h3 {
        font-size: 24px;
    }

    .rage p {
        font-size: 18px;
    }

    .spotify--content {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .itunes--content {
        margin-top: 97px;
        margin-left: 30px;
        margin-right: 30px;
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .container--fluid {
        flex-direction: column;
    }

    .face {
        width: 100%;
    }

    .slogan {
        width: 100%;
    }

    .slogan p {
        margin-bottom: 30px;
    }

    .grid {
        display: grid;
        grid-template-areas: "cableway man"
            "ski-boot mountain"
            "bg--text skiing";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    .bg--text a {
        font-size: 13px;
    }

    .rage {
        width: 100%;
    }

    .night-club {
        background-image: url(none);
        height: 500px;
    }

    .spotify--content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .spotify--content p {
        font-size: 30px;
    }

    .spotify--content a {
        letter-spacing: 0;
        font-size: 19px;
    }

    .itunes--content {
        margin-top: 50px;
    }

    .itunes--content p {
        font-size: 30px;
    }

    .itunes--content a {
        letter-spacing: 0;
        text-align: center;
    }


}

@media (max-width: 576px) {
    h1 {
        font-size: 44px;
    }

    .section--header {
        padding: 50px 0;
    }

    .headline {
        margin-top: 50px;
    }

    .headline p {
        font-size: 26px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .slogan h2 {
        margin: 30px 0;
        text-align: center;
    }

    .slogan p {
        margin: 15px 5px;
        font-size: 27px;
        text-align: justify;
    }

    .grid {
        display: grid;
        grid-template-areas: "cableway man"
            "ski-boot mountain"
            "bg--text bg--text "
            "skiing skiing";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    .instagram {
        margin-bottom: 30px;
    }

    .skiing {
        width: 100%;
    }

    .section--music {
        flex-direction: column;
    }

    .spotify {
        width: 100%;
    }

    .itunes {
        width: 100%;
    }

    .itunes--content {
        margin-bottom: 50px;
    }
}